@media (max-width: 920px) {
    .content {
        max-width: 672px;
    }

    .nav {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .nav--items {
        max-width: 632px;
        margin: 0 auto;
        z-index: 1;
    }

    .logo-text {
        font-size: 17px;
    }

    .list--item-link {
        font-size: 8px;
    }

    .list--item {
        margin-right: 9px;
    }

    .logo-svg {
        font-size: 17px;
        margin-right: 5px;
    }

    .about-us-header__text {
        font-size: 15px;
    }

    .about-us-main {
        padding-top: 135px;
        z-index: 2;
    }

    .about-us-info {
        font-size: 12px;
        margin-top: 12px;
    }

    .more {
        margin-top: 45px;
        font-size: 12px;
    }

    .services-content {
        max-width: 610px;
        margin: 0 auto;
    }

    .title-text {
        font-size: 15px;
    }

    .info-text {
        font-size: 12px;
    }

    .grid-header {
        font-size: 12px;
    }

    .grid-text {
        font-size: 11px;
    }

    .services-grid-photo {
        height: 150px;
        width: 150px;
    }

    .grid-item {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .time-schedule {
        padding-bottom: 50px;
    }

    .time-schedule-picture {
        margin-bottom: 50px;
    }

    .grid-time-schedule {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(6, 170px);
        grid-column-gap: 30px;
        grid-template-columns: repeat(3, 150px);
        row-gap: 20px;
    }

    .grid-time-schedule--item__title {
        font-size: 12px;
        margin-top: 15px;
    }

    .grid-time-schedule--item__text {
        font-size: 10px;
    } 
    .grid-prices-header__title {
        font-size: 15px;
        margin-bottom: 12px;
    }

    .grid-prices-header__price {
        font-size: 15px;
    }
    
    .grid-prices-header__info {
        font-size: 12px;
    }

    .prices-content {
        max-width: 562px;
    }

    .grid-prices {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 290px);
        grid-template-rows: repeat(8, 25px);
        grid-row-gap: 37px;
    }

    .prices {
        padding-bottom: 50px;
    }

    .grid-prices--item {
        width: 100%;
    }

    .grid-prices-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .prices-section-picture {
        margin-bottom: 50px;
    }

    .grid-reviews {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 270px);
        grid-template-rows: repeat(3, 170px);
        row-gap: 15px;
    }

    .reviews {
        padding-top: 90px;
        padding-bottom: 50px;
    }

    .reviews-picture {
        margin-bottom: 15px;
    }

    .grid-reviews--item {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .grid-reviews--item__text {
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .grid-reviews--item__picture {
        width: 65px;
        height: 65px;
        border-radius: 60px;
    }

    .author {
        margin-bottom: 0;
    }

    .blog {
        padding-top: 50px;
        padding-bottom: 130px;
    }

    .blog-section-picture {
        margin-bottom: 20px;
    }

    .grid-blog {
        display: grid;
        grid-template-columns: repeat(1, 220px);
        grid-template-rows: repeat(3, 170px);
        row-gap: 20px;
    }

    .grid-blog--item {
        text-align: center;
    }

    .grid-blog--item__picture {
        border: none;
        margin-bottom: 10px;
        width: 50px;
    }

    .grid-blog--item__data {
        font-size: 10px;
    }

    .grid-blog--item__title {
        font-size: 12px;
    }

    .grid-blog--item__text {
        font-family: 'OpenSans-Semibold';
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .grid-blog--item__more {
        font-size: 10px;
    }

    .more {
        margin-top: 10px;
        font-size: 12px;
        padding: 10px 30px 12px 30px;
    }

    .contacts-header__text {
        margin-top: 50px;
    }

    .footer-info {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: fit-content;
        flex-direction: column;
    }

    .footer-header {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        margin:  0 auto;
        width: 100%;
    }
}