@media (max-width: 768px) {
    .content {
        max-width: 562px;
    }

    .nav {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .nav--items {
        max-width: 528px;
        margin: 0 auto;
        z-index: 1;
    }
    
    .logo-text {
        font-size: 16px;
    }

    .list--item-link {
        font-size: 7px;
    }

    .list--item-link__button {
        font-size: 9px;
    }

    .list--item {
        margin-right: 8px;
    }

    .logo-svg {
        font-size: 10px;
        margin-right: 4px;
    }

    .about-us-header__text {
        font-size: 13px;
    }

    .about-us-main {
        padding-top: 112px;
        z-index: 2;
    }

    .about-us-info {
        font-size: 11px;
        margin-top: 25px;
    }

    .about-us-info__text {
        font-size: 11px;
        max-width: 370px;
    }

    .more {
        margin-top: 70px;
        font-size: 11px;
    }

    .services-content {
        max-width: 509px;
        margin: 0 auto;
    }

    .title-text {
        font-size: 13px;
    }

    .info-text {
        font-size: 11px;
    }

    .grid-header {
        font-size: 12px;
    }

    .grid-text {
        font-size: 11px;
    }

    .services-grid-photo {
        height: 120px;
        width: 120px;
    }

    .grid-item {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .time-schedule {
        padding-bottom: 30px;
    }

    .time-schedule-picture {
        margin-bottom: 40px;
    }

    .grid-time-schedule {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(6, 140px);
        grid-column-gap: 30px;
        grid-template-columns: repeat(3, 120px);
        row-gap: 17px;
    }

    .grid-time-schedule--item__title {
        font-size: 11px;
        margin-top: 12px;
    }

    .grid-time-schedule--item__text {
        font-size: 9px;
    } 

    .grid-prices-header__title {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .grid-prices-header__price {
        font-size: 12px;
    }

    .grid-prices-header__info {
        font-size: 11px;
    }

    .prices-content {
        max-width: 470px;
    }

    .grid-prices {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 240px);
        grid-template-rows: repeat(8, 20px);
        grid-row-gap: 30px;
    }

    .prices {
        padding-bottom: 30px;
    }

    .grid-prices--item {
        width: 100%;
    }

    .grid-prices-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .prices-section-picture {
        margin-bottom: 30px;
    }

    .grid-reviews {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 240px);
        grid-template-rows: repeat(3, 150px);
        row-gap: 12px;
    }

    .reviews {
        padding-top: 70px;
        padding-bottom: 30px;
    }

    .reviews-picture {
        margin-bottom: 12px;
    }

    .grid-reviews--item {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .grid-reviews--item__text {
        font-size: 11px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .grid-reviews--item__picture {
        width: 65px;
        height: 55px;
        border-radius: 50px;
    }

    .author {
        margin-bottom: 0;
    }

    .blog {
        padding-top: 30px;
        padding-bottom: 130px;
    }

    .blog-section-picture {
        margin-bottom: 15px;
    }

    .grid-blog {
        display: grid;
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(3, 155px);
        row-gap: 20px;
    }

    .grid-blog--item {
        text-align: center;
    }

    .grid-blog--item__picture {
        border: none;
        margin-bottom: 12px;
        width: 55px;
    }

    .grid-blog--item__data {
        font-size: 9px;
    }

    .grid-blog--item__title {
        font-size: 11px;
    }

    .grid-blog--item__text {
        font-family: 'OpenSans-Semibold';
        font-size: 9px;
        margin-top: 9px;
        margin-bottom: 9px;
    }

    .grid-blog--item__more {
        font-size: 9px;
    }

    .more {
        font-size: 11px;
        padding: 9px 25px 11px 25px;
    }

    .contacts-header__text {
        margin-top: 35px;
    }

    .footer-info {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: fit-content;
        flex-direction: column;
    }

    .footer-header {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        margin:  0 auto;
        width: 100%;
    }

    .social-networks-svg {
        
    }

}