@media (max-width: 1024px) {
    .content {
        max-width: 748px;
    }

    .nav {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .nav--items {
        max-width: 704px;
        margin: 0 auto;
    }

    .logo-text {
        font-size: 20px;
    }

    .list--item-link {
        font-size: 9px;
    }

    .list--item {
        margin-right: 15px;
    }

    .logo-svg {
        font-size: 20px;
        margin-right: 7px;
    }

    .about-us-header__text {
        font-size: 20px;
    }

    .about-us-main {
        padding-top: 150px;
    }

    .about-us-info {
        font-size: 14px;
        margin-top: 15px;
    }

    .more {
        margin-top: 20px;
        font-size: 12px;
    }

    .services-content {
        max-width: 679px;
        margin: 0 auto;
    }

    .title-text {
        font-size: 20px;
    }

    .info-text {
        font-size: 14px;
    }

    .grid-header {
        font-size: 15px;
    }

    .grid-text {
        font-size: 12px;
    }

    .services-grid-photo {
        height: 200px;
        width: 200px;
    }

    .grid-item {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .grid-time-schedule {
        display: grid;
        grid-template-columns: repeat(6, 109px);
        grid-column-gap: 19px;
    }


    .grid-time-schedule--item__title {
        font-size: 15px;
    }

    .grid-time-schedule--item__text {
        font-size: 12px;
    } 
    
    .grid-prices-header__title {
        font-size: 15px;
        margin-bottom: 12px;
    }

    .grid-prices-header__price {
        font-size: 15px;
    }
    
    .grid-prices-header__info {
        font-size: 12px;
    }

    .prices-content {
        max-width: 626px;
    }

    .grid-prices {
        display: grid;
        grid-template-columns: repeat(2, 305px);
        grid-template-rows: repeat(4, 53px);
        grid-column-gap: 28px;
        grid-row-gap: 40px;
    }

    .grid-prices--item {
        width: 100%;
    }

    .grid-prices-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .grid-reviews {
        display: grid;
        grid-template-columns: repeat(3, 230px);
        grid-column-gap: 27px;
    }

    .grid-reviews--item__text {
        font-size: 12px;
    }

    .grid-blog {
        display: grid;
        grid-template-columns: repeat(3, 182px);
        grid-column-gap: 40px;
    }

    .grid-blog--item__picture {
        border: none;
        margin-bottom: 10px;
        width: 182px;
    }

    .grid-blog--item__data {
        font-size: 12px;
    }

    .grid-blog--item__title {
        font-size: 15px;
    }

    .grid-blog--item__text {
        font-family: 'OpenSans-Semibold';
        font-size: 12px;
    }

    .grid-blog--item__more {
        font-size: 12px;
    }

    .footer-logo__text {
        font-size: 20px;
    }

    .footer-logo__svg {
        font-size: 20px;
        margin-right: 7px;
    }

    .time-schedule-info__text {
        font-size: 12px;
    }

    .contacts-header__text {
        font-size: 17px;
    }

    .contacts-adress {
        font-size: 12px;
    }

    .license__text {
        font-size: 12px;
    }
    
















