body {
    margin: 0;
}

.about-us {
    background-image: url(../images/jpg/background.jpg);
    height: 100vh;
    background-size: cover;
}

.content {
    max-width: 1169px;
    margin: 0 auto;
}

.nav {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.nav.fixed {
    background-color:#BB8C4B;
    position: fixed;
    z-index: 1;
}

.nav--items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1169px;
    margin: 0 auto;
}

.logo-text {
    display: flex;
    align-items: center;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
    font-size: 30px;
    align-items: center;
    font-style: oblique;
}

.logo-svg {
    margin-right: 13px;
}

.list {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.list--item {
    margin-right: 45px; 
}

.list--item-link {
    letter-spacing: 0.24px;
    color: #FFFFFF;
    list-style-type: none;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}


.list--item-link:hover {
    text-decoration: underline;
    color: #BB8C4B;
}

.list--item-link__button {
    color: #FFFFFF;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.2px;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
    background-color: #BB8C4B;
    border-radius: 19px;
    opacity: 1;
    padding: 12px 17px 12px 18px;
    border: none;
}

.list--item-link__button.fixed {
    background-color: lightseagreen;
}



.list--item-link__button:hover {
    background-color: #FFFFFF;
    color: #000000;
}


.about-us-main {
    display: flex;
    flex-direction: column;
    padding-top: 274px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.about-us-header__text {
    align-items: center;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 60px;
    margin: 0;
}

.about-us-info {
    align-items: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.6; 
    margin-top: 42px;
    margin-bottom: 0;
}

.more {
    display: block;
    width: fit-content;
    padding: 12px 35px 14px 35px;
    box-sizing: border-box;
    border-radius: 23px;
    background-color: #BB8C4B;
    margin-top: 44px;
    border: none;
    cursor: pointer;
    font-family: 'OpenSans-Semibold';
    font-size: 14px;
    font-weight: 600px;
    letter-spacing: 0.28px;
    color: #FFFFFF;
    opacity: 0.9;
    text-decoration: none;
}

.more a:hover { 
    text-decoration: underline;
    color: #BB8C4B;
}

.more:hover {
    border: 1px solid #BB8C4B;
    background-color: transparent;
}

.more:focus {
    outline: none;
}

.services {
    height: 100vh;
    background: #FFFFFF;
    opacity: 1;
    padding-top: 90px;
    padding-bottom: 92px;
}

.services-content {
    max-width: 1100px;
    margin: 0 auto;
}

.title {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.8px;
    color: #333333;
    opacity: 1;
    text-align: center;
}

.title-text {
    margin: 0;
}

.info-text {
    font-family: 'Open Sans';
    font-size: 14px;
    text-align: center;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: 28px;
    margin-bottom: 20px;
}

.section-picture {
    text-align: center;
    margin-bottom: 80px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item {
    width: 370px;
    height: 466px;
    text-align: center;
}

.grid-header {
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0.44px;
    color: #333333;
    opacity: 1
}

.grid-text {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #999999;
}

.services-grid-photo {
    border-radius: 150px;
}

.time-schedule {
    background-color: #333333;
    opacity: 1;
    padding-top: 90px;
    padding-bottom: 90px;
}

.title_white {
    color:#FFFFFF;
}

.text-white {
    color:#FFFFFF;
}

.grid-time-schedule {
    display: grid;
    grid-template-columns: repeat(6, 170px);
    grid-column-gap: 30px;
}

.grid-time-schedule--item {
    border: 1px solid #FFFFFF;
    opacity: 1;
    text-align: center;
}

.grid-time-schedule--item__title {
    color: #FFFFFF;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-size: 25px;
    margin-top: 30px;
}

.grid-time-schedule--item__text {
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 14px;
    margin-bottom: 31px;
}

.time-schedule-picture {
    margin-bottom: 70px;
}

.prices {
    height: 100vh;
    background: #FFFFFF;
    opacity: 1;
    padding-top: 90px;
    padding-bottom: 92px;
}

.prices-content {
    max-width: 979px;
    margin: 0 auto;
}

.grid-prices {
    display: grid;
    grid-template-columns: repeat(2, 477px);
    grid-template-rows: repeat(4, 53px);
    grid-column-gap: 28px;
    grid-row-gap: 40px;
}

.grid-prices--item {
    width: 477px;
}

.grid-prices-header {
    display: flex;
    justify-content: space-between;
}

.grid-prices-header__title {
    letter-spacing: 0.4px;
    color: #222222;
    opacity: 1;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
}

.grid-prices-header__price {
    letter-spacing: 0.4px;
    color: #BB8C4B;
    opacity: 1;
    font-weight: bold;
    font-size: 20px;
}

.grid-prices-header__info {
    letter-spacing: 0px;
    color: #999999;
    opacity: 1;
    font-size: 14px;
}

.reviews {
    background: #333333;
    height: 100vh;
    opacity: 1;
    padding-top: 90px;
    padding-bottom: 160px;
}

.reviews-content {
    background-color: #333333;
}

.reviews-picture {
    margin-bottom: 90px;
}

.grid-reviews {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-column-gap: 30px;
}

.grid-reviews--item {
    background: #FFFFFF;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.grid-reviews--item__text {
    letter-spacing: 0px;
    color: #5F5F5F;
    opacity: 1;
    font-size: 14px;
}

.grid-reviews--item__picture {
    background: transparent;
    border-radius: 60px;
    opacity: 1;
}

.blog {
    background: #FFFFFF;
    padding-top: 90px;
    height: 100vh;
    opacity: 1;
}


.grid-blog {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-column-gap: 60px;
}

.grid-blog--item__more {
    list-style-type: none;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    letter-spacing: 0px;
    color: #999999;
    opacity: 1;
}

.grid-blog--item__data {
    font-size: 14px;
    font-weight: 500;
    font: normal normal normal 14px/14px Times New Roman;
    letter-spacing: 0.28px;
    color: #999999;
    opacity: 1;
    margin-top: 0;
}

.grid-blog--item__picture {
    border: none;
    margin-bottom: 10px;
}

.grid-blog--item__more:hover {
    text-decoration: underline;
    color: #BB8C4B;
}

.svg-more {
    margin-left: 5px;
    background: transparent;
}

.grid-blog--item__title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #333333;
    opacity: 1;
}

.grid-blog--item__text {
    font-family: 'OpenSans-Semibold';
    font-size: 14px;
    letter-spacing: 0px;
    color: #999999;
    opacity: 1;
    margin-top: 22px;
    margin-bottom: 24px;
}

.button-read-more {
    display: flex;
    align-items: center;
    
}

.read_more-text {
    text-align: center;
    letter-spacing: 0.24px;
    color: #333333;
    opacity: 1;
    text-decoration: none;
    border-color: transparent;
}

.read_more-text:hover {
    color: #BB8C4B;
}

.read_more-text:focus {
    outline: none;
}

.seventh-section {
    background-color: #252525;
    padding-top: 95px;
    padding-bottom: 21px;
    opacity: 1;
}

.main-info {
    display: flex;
    justify-content: space-between;
}

.about-us-title-text {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    font-style: italic;
    opacity: 1;
}

.blog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    background-color: #252525;
    padding-top: 95px;
    padding-bottom: 21px;
    opacity: 1;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.footer-logo__text {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    font-style: italic;
    opacity: 1;
    margin-top: 0;
    margin-bottom: 46px;
}

.footer-logo__svg {
    color: #FFFFFF;
    opacity: 1;
}

.time-schedule-info__data {
    font-family: 'Open Sans';
    font-size: 12px;
    color: #BDBDBD;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    margin-top: 0;
}

.time-schedule__time {
    color: #FFFFFF;
}

.time-schedule-info__text {
    font-family: 'Open Sans';
    font-size: 14px;
    text-align: left;
    letter-spacing: 0px;
    color: #BDBDBD;
    opacity: 1;
    margin-top: 0;
    margin-bottom: 40px;
}

.contacts-header__text {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 0;
    margin-bottom: 30px;
}

.contacts-adress {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: left;
    letter-spacing: 0px;
    color: #BDBDBD;
    opacity: 1;
    font-size: 14px;
    margin-bottom: 30px;
}

.contacts-adress:hover {
    text-decoration: underline;
    color: #BB8C4B;
}

.license__text {
    margin-top: 60px;
    margin-bottom: 0;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    font-size: 14px;
}

.svg-contacts {
    margin-right: 16px;
}

.social-networks {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.social-networks-item {
    margin-right: 24px;
    color: transparent;
}

.social-networks-item:hover path {
    fill: #BB8C4B;
}

