@media (max-width: 1024px) {
    .content {
        max-width: 748px;
        margin: 0 auto;
    }

    .title-text {
        font-size: 20px;
    }

    .info-text {
        font-size: 15px;
    }

    .logo-text {
        font-size: 20px;
    }

    .logo-svg {
        font-size: 20px;
        margin-right: 7px;
    }

    .form-contacts {
        font-size: 12px;
    }

    select {
        font-size: 12px;
    }
}