body {
	margin: 0;
} 

.main-wrapper {
	background-color: #333333;
	height: 100%;
	background-size: cover;
}

.content {
	padding-top: 50px;
}
  
.title {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.8px;
    opacity: 1;
    text-align: center;
}

.title-text {
    margin: 0;
}

.title-white {
    color:#FFFFFF;
}

.info-text {
    font-family: 'Open Sans';
    font-size: 18px;
    text-align: center;
    letter-spacing: 0px;
	opacity: 1;
	color:#FFFFFF;
    margin-top: 28px;
    margin-bottom: 20px;
}

.section-picture {
	text-align: center;
	margin-bottom: 28px;
}

.logo-text {
	display: flex;
	justify-content: center;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
	font-size: 30px;
    align-items: center;
    font-style: oblique;
}

.logo-svg {
    margin-right: 13px;
}

.main-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-contacts {
	background-image: linear-gradient(#BB8C4B 50%, transparent);
	border-radius: 10px;
	padding: 35px 30px;
	color:#FFFFFF;
	font-size: 14px;
	letter-spacing: 0.8px;
	background-color: transparent;
	display: flex;
	margin-bottom: 30px;
}

.link {
	color:#FFFFFF;
	font-size: 14px;
	letter-spacing: 0.8px;
}

.submit {
	font-family: 'OpenSans-Semibold';
    font-size: 14px;
    background-color: #BB8C4B;
    text-align: center;
    letter-spacing: 0.24px;
    color: #FFFFFF;
    opacity: 1;
    padding: 14px 36px 14px 36px;
    border-radius: 23px;
	opacity: 1;
	text-decoration: none;
	border: none;
}

.submit:hover {
	background-color: red;
}

.submit:focus {
	outline: none;
}

input {
	background-color: transparent;
	color: #FFFFFF;
	border: none;
	width: 100%;
}

.picture {
	margin-left: 20px;
}



